.authenticate-content {
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: fit-content;
    justify-content: center;
    margin: 5rem auto;
}

.authenticate-content form{
    max-width: 300px;
    width: 100%;
    color: var(--color-text-complement);
}

.authenticate-content form fieldset{
    border: 0;
}

.authenticate-content form h1{
    color: var(--color-text-title);
    margin-bottom: 3rem;
}

.authenticate-content button{
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    outline: 0;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}

.authenticate-content button:hover{
    background: var(--color-secundary-dark);
}

.authenticate-content form fieldset p{
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0;
}

.authenticate-content footer{
    display: flex;
    justify-content: space-between;
    padding-top: 7rem;
}

.authenticate-content footer p .link{
    font: 700 1.6rem Archivo;
    color: var(--color-primary);
}

@media(min-width: 700px){
    .authenticate-content {
        margin: 0;
        max-width: 50vw;
        width: 50vw;
        align-items: center;
    }

    .authenticate-content form{
        margin: auto 0.8rem;
        max-width: 400px;
    }

}