.page-authenticate {
    display: flex;
    height: 100vh;
    width: 100vw;
    color: var(--color-text-in-primary);
}

.platform-content{
    display: flex;
    width: 100%;
    height: 100vh;
    background: var(--color-primary);
    /* overflow: hidden; */
    min-width: 50vw;
}

.logo-container img{
    height: 10rem;
}

.logo-container {
    display: flex;
    flex-direction: column;
    margin: 12.5vw;
}

.logo-container h2{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}



.authenticate-content {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50vw;
}

.authenticate-content form{
    min-width: 38rem;
    max-width: 74rem;
    padding: 2rem 2rem;
    color: var(--color-text-complement);
}

.authenticate-content form fieldset{
    border: 0;
}

.authenticate-content form h1{
    color: var(--color-text-title);
    margin-bottom: 3rem;
}



.authenticate-content button{
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}

.authenticate-content button:hover{
    background: var(--color-secundary-dark);
}

.authenticate-content form fieldset p{
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0;
}

.authenticate-content footer{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.authenticate-content footer p .link{
    font: 700 1.6rem Archivo;
    color: var(--color-primary);
}